.title-header {
    background-color: seagreen;
    padding: 40px;
    color: white;
}
.content-data {
    display: flex;
    flex-wrap: wrap;
}
.title-header h1 {
    color: white;
}

.mkg-container__form{
    max-width: 1280px;
    margin: 40px;
}
.mkg-container__form .form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* overides */
.field-overides {
padding: 0 12px;
}