{% extends "base_template.html" %}

{% block title %}Bank Marketing prediction{% endblock %}
{% block content %}
<section>
    <div class="title-header">
        <h1 class="title">Bank Marketing prediction</h1>
    </div>
    <div class="mkg-container__form">
        <form method="post" class="form-container">
            {{form.hidden_tag() }}

            {% for field in form %}
            <div class="field is-horizontal">
                <div class="field-label">
                    {{ field.label(class="label")}}
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            {% if field.type == "RadioField" %}
                            {% for subfield in field %}
                            <label class="radio">
                                {{ subfield }}
                                {{subfield.label}}
                            </label>
                            {% endfor %}
                            {% elif field.type == "SelectField"%}
                            <div class="select">
                                {{ field(class="input")}}
                            </div>
                            {% else %}
                            {{ field(class="input") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% for error in field.errors %}
                <p class="help is-danger">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button is-link">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}